<?xml version='1.0' encoding='utf-8'?>

<launch>
    <!--打开语音唤醒-->
    <!--include file="$(find castlex_awake)/launch/castlex_awake.launch"/-->

    <!--语音唤醒功能包-->
    <node pkg = "arv_voice_system" type = "arv_awake_node" name = "arv_awake_node">
        <!-- 有效期至2021-1-20 -->
        <param name="lgi_param" value="appid = 604adfa0,work_dir = ." />
    </node>

    <!--打开命令词识别-->
    <node pkg = "arv_voice_system" type = "arv_voice_nav_node" name = "arv_voice_nav_node" output="screen"/>
    <!--打开命令词解析-->
    <node pkg = "arv_voice_system" type = "voice_nav.py" name = "XML_Analysis" output="screen">
        <param name="failed_file_path" value="$(find arv_voice_system)/params/voice/failed.mp3" />
        <param name="Received_file_path" value="$(find arv_voice_system)/params/voice/Received.mp3" />
        <param name="ReEnterAuido_file_path" value="$(find arv_voice_system)/params/voice/ReEnterAuido.mp3" />
        <param name="appid_param" value="appid = 604adfa0,work_dir = ." />
    </node>
    
</launch>
